.login-wrapper {
  padding: 7rem 0;
  display: grid;
  place-items: center;
  height: 100vh;
  //  height: 100%;
  // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url('https://login-uat.eagle.org/static-assets/b2c-uat/images/abs-background-latest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom right;
  margin: 0px;

  &.bg {
    background-size: cover;
    background-position: center;
  }

  &.login-content,
  &.bg {
    width: 50%;
    margin: 0 auto;
  }

  a {
    color: #888;
    text-decoration: underline;
  }

  &.btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &.forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
  }

  &.btn-pill {
    border-radius: 30px;
  }

  .login-title {
    font-size: 16px;
    font-weight: 600;

  }

  h2 {
    font-size: 20px;
  }

  .form-block {
    background: #fff;
    padding: 60px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 33%);

    @media (max-width: 991.98px) {
      padding: 30px;
    }
  }

  @media (max-width: 991.98px) {
    .login-wrapper.bg {
      height: 500px;
    }
  }

  @media (max-width: 1199.98px) {
    .login-wrapper {

      &.login-content,
      &.bg {
        width: 100%;
      }
    }
  }

  .form-group {
    margin-bottom: 12px;
  }

  .red-line {
    height: 5px;
    width: 25px;
    border-bottom: 3px solid red;
  }

  .img-logo {
    .login-logo {
      height: 50px;
      width: initial;
    }

    .filter-dark-blue {
      filter: invert(12%) sepia(75%) saturate(1433%) hue-rotate(183deg) brightness(65%) contrast(103%);
    }
  }

}