// All the variables for the app

// Old
$abs-yellow: yellow;
$abs-red: red;
$abs-white: white;
$abs-gray: #898b8d;
$abs-black: black;
$abs--aqua: #1fdab1;
$abs-lbl-gray: rgb(103, 106, 108);
 // General Colors
$abs--orange: #ffad0a;
$abs--blue-gray: #ced4da;
$abs--light-gray: #e7eaec;
$abs--dark-gray: #5e5e5e;
$abs--royal-blue: #1f47da;
$abs--forest-green: #509e2f;
$abs--teal: #5e8ab4;
$abs--brown: #231f20;
$abs--gray: #676a6c;
$abs--table-bg: #676a6c;
// Color Variations:

$abs-navy-blue: #002a4e;
$abs-navy-blue_light: #335572;
$abs-navy-blue_dark: #001e40;
$abs-gray:#dee2e7;
$bg-transparent: transparent;


$abs--red: #da1f33;
$abs--red_light: #df444e;
$abs--red_dark: #b51227;
 

$abs-disabled-text: rgb(103, 106, 108);
$abs-disabled-field: #ebebe4;

// Fonts
$font-stack-1: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-stack-2: Arial, 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-family: 'Montserrat', sans-serif;

// Margins
$left-margin-1: 0.5em;
$left-margin-auto: auto;
$right-margin-60: 60px;

// z-index
$z-index-side-panel: 9060;
$z-index-side-panel-content: 9061;
$z-index-panel: 1000;
$z-index-breadcumb: 202;
$z-index-sticky-footer: 23;
$z-index-middle: 100;
$z-index-form-control: 2000;
$z-index-bottom: -1;
$z-index-top: 10000;
$z-index-popper: 10;
$z-index-date-picker-popper: 1012;
$z-index-pagination-dropdown: 9999;
$z-index-modal-backdrop: 9040;
$z-index-modal: 9050;
$z-index-top-navbar: 9001;
$z-index-overlay: 1031;
 